<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>School Portal</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <!-- plugins:css -->
    <!-- materials -->
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <!-- =======Sidebar navigation -->
        <nav class="sidebar sidebar-offcanvas">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <img class="img-xs rounded-circle " th:src="@{'../assets/images/inyangelogo.png'}" alt="">
            </div>
            <div class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                <img class="img-xs rounded-circle " th:src="@{'../assets/images/inyangelogo.png'}" alt="">
                                <span class="count bg-success"></span>
                            </div>
                            <div class="profile-name">
                                <h5 class="mb-0 font-weight-normal" th:text="${user.name}"></h5>
                                <span>Inyange Distributor </span>
                            </div>
                        </div>
                        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i
                                class="mdi mdi-dots-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                            aria-labelledby="profile-dropdown">
                            <a th:href="@{'/distributor/setting'}" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-onepassword  text-info"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a th:href="@{'/logout?logout'}" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-calendar-today text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Logout</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <div class="nav-item menu-items">
                    <a class="nav-link" href="/admin">
                        <span class="menu-icon">
                            <i class="mdi mdi-speedometer"></i>
                        </span>
                        <span class="menu-title">Distributor Portal</span>
                    </a>
                </div>
                <!--  -->


                <li class="nav-item menu-items">
                    <a class="nav-link" th:href="@{'/logout?logout'}">
                        <span class="menu-icon">
                            <i class="mdi mdi-file-document-box"></i>
                        </span>
                        <span class="menu-title">Logout</span>
                    </a>
                </li>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg"
                            alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                        data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <ul class="navbar-nav w-100">
                        <li class="nav-item w-100">
                            Inyange
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown d-none d-lg-block">
                            <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown"
                                data-toggle="dropdown" aria-expanded="false" href="#"><i
                                    class="fa fa-user-circle text-light" aria-hidden="true"></i></a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                aria-labelledby="createbuttonDropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-file-outline text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Setting</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-web text-info"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Logout</p>
                                    </div>
                                </a>
                            </div>
                        </li>

                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="offcanvas">
                        <span class="mdi mdi-format-line-spacing"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <!-- Order made status -->
                    <!-- <i class="mdi mdi-account-plus" data-bs-toggle="modal" data-bs-target="#modalId" style="font-size: xx-large;"></i> -->
                    <div class="row ">
                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title"><i class="mdi mdi-format-line-spacing"></i>  <span th:text="${user.name}"></span> 's Distribution Tasks</h4>

                                    <div class="table-responsive">
                                        <table class="table">
                                          <thead>
                                            <tr>
                  
                                              <th>School name </th>
                                              <th>Location</th>
                                              <th> Head Teacher</th>
                                              <th> Milk </th>
                                              <th>Total package Package</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr th:if="${orderList.size()>0}" th:each="order:${user.orderList}">
                                                <div th:if="${!order.approvedBySchool}">
                                              <td > 
                                                  <i class="mdi mdi-home"></i> <span th:text="${order.school.name}"></span>
                                               </td>
                                              <td>
                                              <i class="mdi mdi-account"></i> <span th:text="${order.school.locationId.locationId.locationId.name}"></span>
                                              <b>/</b>  <span th:text="${order.school.locationId.locationId.name}"></span>
                                              <b>/</b>  
                                              <span th:text="${order.school.locationId.name}"></span> 
                                              </td>
                                              <td> 
                                                  <div th:if="${order.school.user!=null}">
                                                      <div>
                                                       <i class="mdi mdi-account"></i> <span th:text="${order.school.user.name}"></span>
                                                      </div> 
                                                      <div>
                                                       <i class="mdi mdi-phone"></i> <span th:text="${order.school.user.phoneNumber}"></span>
                                                      </div>
                                                      <div>
                                                       <i class="mdi mdi-email"></i> <span th:text="${order.school.user.email}"></span>
                                                      </div>
                                                   </div>
                                               </td>
                                              <td> 
                                                  <div>
                                                      <i class="mdi mdi-glass-mug"></i>  <span th:text="${order.milk.packageType}"></span>
                                                      <div>
                                                          <b>Price</b> <span th:text="${order.milk.price}"></span><b> per </b> <span th:text="${order.milk.quantity}"></span> ml
                                                      </div>
                                                  </div>
                                               </td>
                                              <td>
                                                  <span class="badge bg-dark text-light" th:text="${order.quantity}">New!</span> 
                                              </td>
                                              </div>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>  
                                </div>
                                <div class="col-12 grid-margin">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title"><i class="mdi mdi-format-line-spacing"></i>  <span th:text="${user.name}"></span> 's Completed Tasks</h4>
        
                                            <div class="table-responsive">
                                                <table class="table table-info">
                                                  <thead class="text-light">
                                                    <tr >
                          
                                                      <th class="text-light">School name </th>
                                                      <th class="text-light">Location</th>
                                                      <th class="text-light"> Head Teacher</th>
                                                      <th class="text-light"> Milk </th>
                                                      <th class="text-light">Total package Package</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr th:each="order:${user.orderList}" th:if="${!order.approvedBySchool}" class="text-light" >
                                                      <td > 
                                                          <i class="mdi mdi-home"></i> <span th:text="${order.school.name}"></span>
                                                       </td>
                                                      <td>
                                                      <i class="mdi mdi-account"></i> <span th:text="${order.school.locationId.locationId.locationId.name}"></span>
                                                      <b>/</b>  <span th:text="${order.school.locationId.locationId.name}"></span>
                                                      <b>/</b>  
                                                      <span th:text="${order.school.locationId.name}"></span> 
                                                      </td>
                                                      <td> 
                                                          <div th:if="${order.school.user!=null}">
                                                              <div>
                                                               <i class="mdi mdi-account"></i> <span th:text="${order.school.user.name}"></span>
                                                              </div> 
                                                              <div>
                                                               <i class="mdi mdi-phone"></i> <span th:text="${order.school.user.phoneNumber}"></span>
                                                              </div>
                                                              <div>
                                                               <i class="mdi mdi-email"></i> <span th:text="${order.school.user.email}"></span>
                                                              </div>
                                                           </div>
                                                       </td>
                                                      <td> 
                                                          <div>
                                                              <i class="mdi mdi-glass-mug"></i>  <span th:text="${order.milk.packageType}"></span>
                                                              <div>
                                                                  <b>Price</b> <span th:text="${order.milk.price}"></span><b> per </b> <span th:text="${order.milk.quantity}"></span> ml
                                                              </div>
                                                          </div>
                                                       </td>
                                                      <td>
                                                          <span class="badge bg-dark text-light" th:text="${order.quantity}">New!</span> 
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                            </div>
                                          </div>  
                                        </div>
                              </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal trigger button -->
                    <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static"
                        data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalTitleId">Approval portal</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/school/saveSchool" method="post">


                                        <div class="mb-3">
                                            <textarea  id="comment" name="comment" rows="7" cols="50"
                                                required=""></textarea>
                                            <label for="comment"><b>Comment</b></label>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Save</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- end of order made status -->
                </div>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/assets/js/misc.js"></script>
</body>

</html>