<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inyange Admin</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <!-- plugins:css -->
    <!-- materials -->
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <style>
    .no-display{display: none;}
     
    @media print {
      .no-display{display: block;}
      .no-print{display:none;}
    }
  </style>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <!-- =======Sidebar navigation -->
      <nav class="sidebar sidebar-offcanvas no-print"  >
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <img class="img-xs rounded-circle no-print" th:src="@{'../assets/images/inyangelogo.png'}" alt="">
        </div>
        <div class="nav no-print">
          <li class="nav-item profile">
            <div class="profile-desc no-print">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle no-print" th:src="@{'../assets/images/inyangelogo.png'}" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name no-print">
                  <h5 class="mb-0 font-weight-normal" th:text="${admin.name}">Username</h5>
                  <span>Admin </span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list no-print" aria-labelledby="profile-dropdown">
                <div class="dropdown-divider"></div>
                <a th:href="@{'/admin/setting'}" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a th:href="@{'/logout?logout'}" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Logout</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <div class="nav-item menu-items">
            <a class="nav-link" href="/admin">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </div>
          <!--  -->
          <div class="nav-item menu-items">
            <a class="nav-link" href="/admin/milk">
              <span class="menu-icon">
                <i class="mdi mdi-cup"></i>
              </span>
              <span class="menu-title">Milk</span>
            </a>
          </div>
          <div class="nav-item menu-items">
            <a class="nav-link" href="/admin/distributor">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span class="menu-title">Distributor</span>
            </a>
          </div>
          <div class="nav-item menu-items bg-dark">
            <a class="nav-link" th:href="@{'/admin/order'}">
              <span class="menu-icon">
                <i class="mdi mdi-cart"></i>
              </span>
              <span class="menu-title">Order</span>
            </a>
          </div>
          <div class="nav-item menu-items">
            <a class="nav-link" th:href="@{'/admin/user'}">
              <span class="menu-icon">
                <i class="mdi mdi-account"></i>
              </span>
              <span class="menu-title">User</span>
            </a>
          </div>
          </li>
          <div class="nav-item menu">
            <a class="nav-link" th:href="@{'/admin/school'}">
              <span class="menu-icon">
                <i class="mdi mdi-home"></i>
              </span>
              <span class="menu-title">Schools</span>
            </a>
          </div>
          <li class="nav-item menu-items">
            <a class="nav-link"th:href="@{'/logout?logout'}">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
              <span class="menu-title">Logout</span>
            </a>
          </li>
        </div >
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row no-print">
          <div class="navbar-brand-wrapper d-flex d-lg-none no-print align-items-center justify-content-center">
            <a class="navbar-brand bo-print brand-logo-mini" href="index.html"><img th:src="@{'../assets/images/inyangelogo.png'}" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch no-print">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100 no-print">
              <li class="nav-item w-100">
               Inyange
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right no-print">
              <li class="nav-item dropdown d-none d-lg-block">
                <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fa fa-user-circle text-light" aria-hidden="true"></i></a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-file-outline text-primary"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Setting</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-web text-info"></i>   
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Logout</p>
                    </div>
                  </a>
                </div>
              </li>
           
            </ul>
            <button class="navbar-toggler no-print navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
<!-- Revenues sales and purchases -->
<div class="row no-print">
  <div class="col-sm-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Number of Distributor</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0" th:text="${distributorRoleList.size()}"></h2>
            </div>
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg mdi mdi-account text-warning  ml-auto"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Number of orders</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0" th:text="${successOrderList.size()}">$45850</h2>
              <p class="text-success ml-2 mb-0 font-weight-medium">Success full</p>
            </div>
            <h6 class="text-muted font-weight-normal"> <span th:text="${failureOrderList.size()}"></span> Ongoing & failure</h6>
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Number of Schools</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0" th:text="${schoolList.size()}">$2039</h2>
            </div>
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
            <!-- =====Revenues sales and purchases == -->
            <!-- Order made status -->
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <address class="no-display">
                      <img th:src="@{'../assets/images/inyangelogo.png'}" alt="" srcset="">
                      <nav class="mt-2">
                        Inyange LTD
                      </nav>
                      <div class="mt-2">
                        Name : <span th:text="${admin.name}"></span>
                      </div>
                      <div class="mt-2">
                        Date : <span id="identity"></span>
                        <script>
                          const currentDate = new Date();
                          const addLeadingZero = value => (value < 10 ? `0${value}` : value);
                          const year = currentDate.getFullYear();
                          const month = addLeadingZero(currentDate.getMonth() + 1); // Months are 0-based
                          const day = addLeadingZero(currentDate.getDate());
                          const formattedDate = `${month}-${day}-${year}`;
                          var date = new Date();
                          document.getElementById("identity").innerHTML =formattedDate;
                          document.getElementById("today").innerHTML =formattedDate;
                          
                        </script>
                      </div>
                    </address>
                    <h4 class="card-title"><i class="mdi mdi-format-line-spacing"></i> List of Appending Orders  <i onclick="window.print()" class="mdi mdi-printer float-right no-print"></i> </h4>
                     
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>

                            <th>School name </th>
                            <th> Head Teacher</th>
                            <th> Milk </th>
                            <th class="no-print"> package/child</th>
                            <th class="no-print"> Total Student Number </th>
                            <th>Total Package</th>
                            <th>Total Payments</th>
                            <th class="no-print">Status</th>
                            <th class="no-print">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="order:${orderList}">
                            <td > 
                                <i class="mdi mdi-home"></i> <span th:text="${order.school.name}"></span>
                                <div class="mt-3">
                                  <i class="mdi mdi-calendar"></i> <span th:text="${order.getCreateDate()}"></span>
                                </div>
                                <i class="mdi mdi-map-marker"></i> <span th:text="${order.school.locationId.locationId.locationId.name}"></span>
                            <b>/</b>  <span th:text="${order.school.locationId.locationId.name}"></span>
                            <b>/</b>  
                            <span th:text="${order.school.locationId.name}"></span> 
                             </td>
                            <td> 
                                <div th:if="${order.school.user!=null}">
                                    <div>
                                     <i class="mdi mdi-account"></i> <span th:text="${order.school.user.name}"></span>
                                    </div> 
                                    <div>
                                     <i class="mdi mdi-phone"></i> <span th:text="${order.school.user.phoneNumber}"></span>
                                    </div>
                                    <div>
                                     <i class="mdi mdi-email"></i> <span th:text="${order.school.user.email}"></span>
                                    </div>
                                 </div>
                             </td>
                            <td > 
                                <div>
                                    <i class="mdi mdi-glass-mug"></i>  <span th:text="${order.milk.packageType}"></span>
                                    <div>
                                        <b>Price</b> <span th:text="${order.milk.price}"></span><b> per </b> <span th:text="${order.milk.quantity}"></span> ml
                                    </div>
                                </div>
                             </td>
                            <td class="no-print">
                                <span class="badge bg-dark text-light" th:text="${order.quantity}">New!</span> 
                            </td>
                            <td class="no-print">
                                <span class="badge bg-dark text-light" th:text="${order.school.studentNumber}"></span>
                            </td>
                            <td>
                                <div>
                                    <span th:text="${order.quantity*order.school.studentNumber}"></span>
                                </div>
                            </td>
                            <td>
                              <span th:text="${order.quantity*order.school.studentNumber*order.milk.price}"></span>  FRW
                            </td>
                            <td class="text-center no-print">
                              <div th:if="${!order.approvedByAdmin}">
                                Not approval <span class="text-danger" style="font-size:xx-large;">...    </span>
                              </div>
                              <div th:if="${order.approvedByAdmin}">
                                <span th:if="${order.approvedBySchool}">
                                  <i class="mdi mdi-checkbox-marked-circle text-success"></i>  
                              </span>
                                  <!-- ======== -->
                                  <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                                  <a href="#" class="dropdown-item preview-item">
                                  <div class="preview-item">
                                      <div class="preview-subject preview-thumbnail mb-1 text-small">
                                          <p><i class="mdi mdi-account"></i> <span th:text="${order.distributor.name}">Name</span></p>
                                          <p><i class="mdi mdi-email"></i> <span th:text="${order.distributor.email}">Email</span></p>
                                          <p><i class="mdi mdi-phone"></i> <span th:text="${order.distributor.phoneNumber}">Phone</span></p>
                                          <p>status
                                              <div class="bg-success text-light p-1 rounded text-center">
                                                  <p th:if="${order.approvedByAdmin&&!order.approvedBySchool}">Deliver ...</p>
                                                  <p th:if="${order.approvedBySchool}">Done</p>
                                              </div>
                                          </p>
                                      </div>
                                  </div>
                                  </a>
                              </div>
                                  <!-- ======== -->
                              </div>
                          </td>
                            <td class="no-print">
                              <i th:if="${!order.approvedByAdmin}" onclick="getDetail(this)" th:id="${order.id}+'#'+${order.school.name}" data-bs-toggle="modal" data-bs-target="#modalId" class="mdi mdi-check-all text-success" style="font-size: x-large;"></i>
                              <div class="progress rounded" th:if="${order.approvedByAdmin&&!order.approvedBySchool}">
                                  <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;"
                                      aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">onway</div>
                              </div>
                              <i th:if="${order.approvedByAdmin&&order.approvedBySchool}" class="mdi mdi-message-processing text-primary"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="no-display">
                        <div>Printed on <span id="today"> </span></div>
                      <b>By <span th:text="${admin.name}"></span></b>
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
            <!-- Modal trigger button -->
           <script>
            function getDetail(btn)
            {
              const detail = btn.getAttribute('id').split('#');
              document.getElementById('school').innerHTML=detail[1];
              document.getElementById('id').value=detail[0];
            }
           </script>
            <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <i class="mdi mdi-home"></i><span id="school"></span>
                    <div>
                      <form action="/admin/order" method="post">
                        <input type="hidden" name="id" id="id">
                        <div class="mb-3">
                          <select class="form-select w-100 p-1 rounded" name="distributor">
                            <option value="">--Select Distributor--</option>
                            <option  th:each="user:${distributorList}" th:value="${user.id}" th:text="${user.name}">One</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                      </form>
                </div>
              </div>
            </div>
            
            
            <!-- Optional: Place to the bottom of scripts -->
            <script>
              const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)
            
            </script>
            <!-- end of order made status -->
          </div>  
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/assets/js/misc.js"></script>
  </body>
</html>